<div class="et_pb_section et_pb_section_0 hero-header et_pb_with_background et_pb_fullwidth_section et_section_regular" >
	<section class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_0 et_hover_enabled et_pb_bg_layout_dark et_pb_text_align_center" id="bg-img">
				
				
				<div class="et_pb_fullwidth_header_container center">
					
					
				</div>
				<div class="et_pb_fullwidth_header_overlay"></div>
				<div class="et_pb_fullwidth_header_scroll"></div>
			</section>
				
				
</div>


<div class="et_pb_section et_pb_section_1 et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h2>Accessibility</h2></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_1 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><p>We are continuously working to improve the accessibility of content on our website. Below, you’ll find a few recommendations to help make your browsing experience more accessible:</p>
<p>If you have trouble seeing web pages, the US Social Security Administration <a href="https://www.ssa.gov/accessibility/" target="_blank" rel="noopener noreferrer">offers these tips</a> for optimizing your computer and browser to improve your online experience.</p>
<ul>
<li><a href="https://www.ssa.gov/accessibility/browseAloud.html" target="_blank" rel="noopener noreferrer">Use your computer to read web pages out loud</a></li>
<li><a href="https://www.ssa.gov/accessibility/keyboard_nav.html" target="_blank" rel="noopener noreferrer">Use the keyboard to navigate screens</a></li>
<li><a href="https://www.ssa.gov/accessibility/textsize.html" target="_blank" rel="noopener noreferrer">Increase text size</a></li>
<li><a href="https://www.ssa.gov/accessibility/magnifyscreen.html" target="_blank" rel="noopener noreferrer">Magnify your screen</a></li>
<li><a href="https://www.ssa.gov/accessibility/changecolors.html" target="_blank" rel="noopener noreferrer">Change background and text colors</a></li>
<li><a href="https://www.ssa.gov/accessibility/mousepointer.html" target="_blank" rel="noopener noreferrer">Make your mouse pointer more visible</a> (Windows only)</li>
</ul>
<p>If you are looking for mouse and keyboard alternatives, speech recognition software such as <a href="https://www.nuance.com/dragon.html" target="_blank" rel="noopener noreferrer">Dragon Naturally Speaking</a> may help you navigate web pages and online services. This software allows the user to move focus around a web page or application screen through voice controls.</p>
<p>If you are deaf or hard of hearing, there are several accessibility features available to you.<br><strong>Closed Captioning</strong><br>Closed captioning provides a transcript for the audio track of a video presentation that is synchronized with the video and audio tracks. Captions are generally visually displayed over the video, which benefits people who are deaf and hard of hearing, and anyone who cannot hear the audio due to noisy environments. Most of our video content includes captions. <a href="https://support.google.com/youtube/answer/100078?hl=en" target="_blank" rel="noopener noreferrer">Learn how to turn captioning on and off in YouTube.</a></p>
<p><strong>Volume Controls</strong><br>Your computer, tablet, or mobile device has volume control features. Each video and audio service has its own additional volume controls. Try adjusting both your device’s volume controls and your media players’ volume controls to optimize your listening experience.</p>
<p>If the recommendations above do not meet your needs, please give us a call at <a href="tel:8599403517" target="blank" rel="noopener noreferrer">(859) 940-3517</a>&nbsp;and we’d be happy to assist!</p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
</div>

<style>
	#bg-img{
		background-image:url("../images/pics1.png");
	}
	
</style>

