<link rel="stylesheet" id="divi-style-css" href="stylesheets/bootstrap.min.css" type="text/css" media="all">

<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular" id="bg-img">
	<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h1> <strong style="color: white;">OUR Blogs</strong> </h1></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
	</div> <!-- .et_pb_row -->
				
				
</div>

<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="images/pics1.png" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <strong>Investment In USA</strong></h5>
        <p class="card-text lead">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-success">Read More</button>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="images/pics7.png" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <strong>Investment In USA</strong></h5>
        <p class="card-text lead">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-success">Read More</button>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="images/pics8.png" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <strong>Investment In USA</strong></h5>
        <p class="card-text lead">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-success">Read More</button>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="images/pics4.png" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <strong>Investment In USA</strong></h5>
        <p class="card-text lead">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-success">Read More</button>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="images/pics5.png" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <strong>Investment In USA</strong></h5>
        <p class="card-text lead">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-success">Read More</button>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="images/pics6.png" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <strong>Investment In USA</strong></h5>
        <p class="card-text lead">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-success">Read More</button>
      </div>
    </div>
  </div>
</div>

<style>
	#bg-img{
		background-image:url("../images/blog.png");
	}
	
</style>