<div class="et_pb_module et_pb_fullwidth_slider_0 et_pb_slider et_slider_auto et_slider_speed_7000 et_slide_transition_to_next et_pb_bg_layout_dark" data-active-slide="et_pb_slide_0">
				<div class="et_pb_slides">
					<div class="et_pb_slide et_pb_slide_0 et_pb_bg_layout_dark et_pb_media_alignment_center et-pb-active-slide" data-slide-id="et_pb_slide_0" style="z-index: 1; display: block; opacity: 1;">
				
				
				<div class="et_pb_container clearfix" style="height: 372px;">
					<div class="et_pb_slider_container_inner">
						
						<div class="et_pb_slide_description">
							<h2 class="et_pb_slide_title"><a href="/contact">American Farm Investors</a></h2><div class="et_pb_slide_content"><p>Steady Cash Flow</p></div>
							<div class="et_pb_button_wrapper"><a class="et_pb_button et_pb_more_button" href="contact/index.html">CALL NOW</a></div>
						</div> <!-- .et_pb_slide_description -->
					</div>
				</div> <!-- .et_pb_container -->
				
			</div> <!-- .et_pb_slide -->
			<div class="et_pb_slide et_pb_slide_1 et_pb_bg_layout_dark et_pb_media_alignment_center" data-slide-id="et_pb_slide_1" style="z-index: 1; display: none; opacity: 0;">
				
				
				<div class="et_pb_container clearfix" style="height: 372px;">
					<div class="et_pb_slider_container_inner">
						
						<div class="et_pb_slide_description">
							<h2 class="et_pb_slide_title"><a href="contact/index.html">American Farm Investors</a></h2><div class="et_pb_slide_content"><p>Inflation Protection</p></div>
							<div class="et_pb_button_wrapper"><a class="et_pb_button et_pb_more_button" href="contact/index.html">CALL NOW</a></div>
						</div> <!-- .et_pb_slide_description -->
					</div>
				</div> <!-- .et_pb_container -->
				
			</div> <!-- .et_pb_slide -->
			<div class="et_pb_slide et_pb_slide_2 et_pb_bg_layout_dark et_pb_media_alignment_center et-pb-moved-slide" data-slide-id="et_pb_slide_2" style="z-index: 2; display: none; opacity: 0;">
				
				
				<div class="et_pb_container clearfix" style="height: 372px;">
					<div class="et_pb_slider_container_inner">
						
						<div class="et_pb_slide_description">
							<h2 class="et_pb_slide_title"><a href="contact/index.html">American Farm Investors</a></h2><div class="et_pb_slide_content"><p>Land Appreciation</p></div>
							<div class="et_pb_button_wrapper"><a class="et_pb_button et_pb_more_button" href="contact/index.html">CALL NOW</a></div>
						</div> <!-- .et_pb_slide_description -->
					</div>
				</div> <!-- .et_pb_container -->
				
			</div> <!-- .et_pb_slide -->
			
				</div> <!-- .et_pb_slides -->
				
<div class="et-pb-slider-arrows"><a class="et-pb-arrow-prev" href="#"><span>Previous</span></a><a class="et-pb-arrow-next" href="#"><span>Next</span></a></div><div class="et-pb-controllers"><a href="#" class="et-pb-active-control">1</a><a href="#" class="">2</a><a href="#" class="">3</a></div></div>

<div class="et_pb_section et_pb_section_1 et_section_regular">
  		<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h1>WE’RE HERE TO HELP</h1></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_1 et_pb_bg_layout_light  et_pb_text_align_center et_had_animation" style="">
				
				
				<div class="et_pb_text_inner"><p>Located in Central Kentucky, we create syndicated farm investments that help clients invest in America’s favorite resource: farmland. We locate profitable farms, purchase them with our own equity and investor funds, and manage them efficiently to maximize potential. By partnering with American Farm Investors, ownership of this asset class becomes a reality.</p></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_video et_pb_video_0">
				
				
				<div class="et_pb_video_box"><div class="fluid-width-video-wrapper" style="padding-top: 56.2963%;"><iframe title="American Farm Investors" src="https://player.vimeo.com/video/214207936?dnt=1&amp;app_id=122963" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="" id="fitvid0"></iframe></div></div>
				
			</div><div class="et_pb_module et_pb_text et_pb_text_2 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h1>HOW WE’RE DIFFERENT</h1></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><p>American Farm Investors helps individuals and institutions invest in profitable farmland through real ownership. Our clients are able to invest in our projects using 401K and IRA funds, or cash investment, and our deals are 100% equity with no debt.</p></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h1>WHO WE ARE</h1></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><p>Our founder, Brian Luftman, has been investing in farmland for years. He learned about farmland as an investment from his eight years of trading commodities on the floor of The Chicago Board of Trade. He founded Luftrade, a commodity options company at age twenty-seven. Through his years in Chicago, he gained valuable expertise in livestock and grain futures and options. He moved to Lexington, Kentucky in 2011 to create American Farm Investors. He is incredibly passionate that farmland is the best possible investment for today’s economic condition.</p></div>
			</div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_custom_button_icon et_pb_button_0 et_pb_bg_layout_dark" href="our-team/index.html" data-icon="5">Get to Know Us</a>
			</div>
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
</div>

<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
				
				
				
	<div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_dark  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h1>WHAT YOU NEED TO KNOW</h1></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_7 et_pb_bg_layout_dark  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h3>WHY INVEST IN FARMLAND</h3></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_8 et_pb_bg_layout_dark  et_pb_text_align_left">
				
				
					<div class="et_pb_text_inner"><ul>
	<li>Cash Flows Are Virtually Guaranteed</li>
	<li>2-5% Cash-on-Cash Returns Along with Potential For Land Appreciation</li>
	<li>Highly Competitive Farm Rental Market means Higher Rents on the Horizon</li>
	<li>Farms are a “Real Asset,” not a “Paper Asset”</li>
	<li>Inflation Protection</li>
	</ul></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_9 et_pb_bg_layout_dark  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h3>HOW TO INVEST IN FARMLAND</h3></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_10 et_pb_bg_layout_dark  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><p>American Farm Investors helps individuals and institutions invest in profitable farmland through real ownership. Our clients are able to invest in our projects using 401K and IRA funds, or cash investment, and out deals are 100% equity with no debt.</p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et_pb_column_empty">
				
				
				
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_button_module_wrapper et_pb_button_1_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_1 et_pb_bg_layout_dark" href="how-to-invest/index.html">LEARN MORE</a>
			</div>
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty">
				
				
				
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
</div>

<div class="et_pb_section et_pb_section_3 et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_4">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_11 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h1>AFI in the News</h1></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_12 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><p><span style="font-weight: 400;">Read articles that feature our work helping clients invest in America’s most valuable resource.</span></p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_5">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_13 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><p><a href="https://www.usatoday.com/story/money/business/2017/01/03/millionaire-investors-take-refuge-kentucky-farms/96124026/" target="_blank" rel="noopener noreferrer"><img class="aligncenter wp-image-1245 size-medium" src="wp-content/uploads/2019/02/USA-Today-logo-300x56.png" alt="" width="300" height="56" srcset="https://americanfarminvestors.com/wp-content/uploads/2019/02/USA-Today-logo-300x56.png 300w, https://americanfarminvestors.com/wp-content/uploads/2019/02/USA-Today-logo-768x144.png 768w, https://americanfarminvestors.com/wp-content/uploads/2019/02/USA-Today-logo-1024x192.png 1024w, https://americanfarminvestors.com/wp-content/uploads/2019/02/USA-Today-logo-1080x202.png 1080w" sizes="(max-width: 300px) 100vw, 300px"></a></p></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_14 et_clickable et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><p><a href="https://www.lanereport.com/25751/2013/11/farmland-investing/" target="_blank" rel="noopener noreferrer"><img class="aligncenter wp-image-1248 size-medium" src="wp-content/uploads/2019/02/Lane-Report-logo-300x69.jpg" alt="" width="300" height="69" srcset="https://americanfarminvestors.com/wp-content/uploads/2019/02/Lane-Report-logo-300x69.jpg 300w, https://americanfarminvestors.com/wp-content/uploads/2019/02/Lane-Report-logo.jpg 601w" sizes="(max-width: 300px) 100vw, 300px"></a></p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_15 et_clickable et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><p><a href="https://www.kentucky.com/news/business/article163172653.html" target="_blank" rel="noopener noreferrer"><img class="aligncenter wp-image-1247 size-medium" src="wp-content/uploads/2019/02/Herald-Leader-Logo-300x44.png" alt="" width="300" height="44" srcset="https://americanfarminvestors.com/wp-content/uploads/2019/02/Herald-Leader-Logo-300x44.png 300w, https://americanfarminvestors.com/wp-content/uploads/2019/02/Herald-Leader-Logo-768x114.png 768w, https://americanfarminvestors.com/wp-content/uploads/2019/02/Herald-Leader-Logo-1024x152.png 1024w, https://americanfarminvestors.com/wp-content/uploads/2019/02/Herald-Leader-Logo-1080x160.png 1080w" sizes="(max-width: 300px) 100vw, 300px"></a></p></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_16 et_clickable et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><p><a href="http://www.bbc.com/capital/story/20130604-headed-for-a-barn-bubble" target="_blank" rel="noopener noreferrer"><img class="aligncenter wp-image-1246 size-medium" src="wp-content/uploads/2019/02/BBC-Logo-300x86.png" alt="" width="300" height="86" srcset="https://americanfarminvestors.com/wp-content/uploads/2019/02/BBC-Logo-300x86.png 300w, https://americanfarminvestors.com/wp-content/uploads/2019/02/BBC-Logo-768x220.png 768w, https://americanfarminvestors.com/wp-content/uploads/2019/02/BBC-Logo-1024x293.png 1024w, https://americanfarminvestors.com/wp-content/uploads/2019/02/BBC-Logo-1080x309.png 1080w" sizes="(max-width: 300px) 100vw, 300px"></a></p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_6">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h6>Download Kevin Bupp’s Podcast Featuring Brian Luftman <strong><a href="http://www.kevinbupp.com/ep-211-farmland-investing-the-ultimate-market-hedge-with-brian-luftman/" target="_blank" rel="noopener noreferrer">here</a></strong>.</h6></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
</div>