<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular" id="bg-img">
				
				
				
				
					<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_dark  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h1><strong>HOW TO INVEST IN FARMLAND</strong></h1></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
</div>

<div class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_1 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h1><span style="font-weight: 400;">Syndicated Investments</span></h1></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_2 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><p><span style="font-weight: 400;">If you call a farm broker and say “I have $100,000 to spend, what type of farm could I buy?” you will not like the answer. That $100,000 investment will purchase roughly 10-20 acres of solid cropland. You will have a difficult time renting that farm out to provide good cash flow because it is relatively small and most farming operations won’t consider renting a space smaller than 80 acres. Sizable farms of 80 acres and up are much more manageable, predictable, and thus attract the best lease contracts with the best farmers. Large farms are actually in high demand making farmers anxious to sign rental contracts for good prices.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">American Farm Investors purchases larger tracts of prime farmland and divide the ownership among multiple investors. This allows the aforementioned investor with $100,000 to purchase a percentage ownership in a quality farm that provides good cash flow, steady rental contracts, and land appreciation possibilities. We invest in our own projects, having an ownership interest in every syndicated farm we purchase. We locate solid farms, purchase them with investor funds and our own equity, and find the best farmers to rent our land. Our initial target rate of return on a farm is 2-5% annually, which should increase over time as rental prices go up. That return is strictly cash flow to the investors. &nbsp;</span><b>Investors get a check every year. </b></p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
</div>

<div class=" et_pb_with_background et_section_regular" style="background:white;">
				
				
				
				
					<div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h1><span style="font-weight: 400;">Institutional and Family Office</span></h1></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><p><span style="font-weight: 400;">Family offices and institutional investors love working with American Farm Investors because they own title to the underlying property. Commodity exposure, fixed income and real assets are requirements for a balanced portfolio of any size. Grain farms provide excellent exposure to all three categories, with minimal risk to the investor. For these reasons and many more, farmland has become a hot investment vehicle over the past decade and the competition to find quality investment grade properties has increased. AFI can place large amounts of capital into productive properties.</span></p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
</div>


<div class="et_pb_section et_pb_section_3 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h1><span style="font-weight: 400;">Long-Term Appreciation</span></h1></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><p><span style="font-weight: 400;">We cannot predict where land values will go in the future, so we do not count land appreciation in our calculations. However, given the nature of land ownership over time, our investors can rightfully expect long-term land appreciation. Farmland has been appreciating at approximately 5% annually for the past several decades. There’s an old saying, “They don’t make any more land.” That statement is very true, and it’s ringing truer today with a growing world population and development of 3rd world economies. Our clients should expect their investment to grow over time.</span></p>
<p>&nbsp;</p>
<p>AFI clients have a long term outlook on their farmland investments, and many intend on passing their ownership down to the next generation.</p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If you decide farmland belongs in your portfolio, we can take a trip to one of the farms we have in the investment pipeline. We can discuss soil types, possibilities for the future of that farm, meet the farmers and give you the peace of mind knowing that veterans of the industry have signed off on that farm as a great investment.</span></p></div>
			</div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" href="../contact/index.html">Talk to Us Today</a>
			</div>
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
</div>


<style>
	#bg-img{
		background-image:url("../images/howto.png");
	}
	
</style>