<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular" id="bg-img">
				
				
				
				
					<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_dark  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h1> <strong>WHY INVEST IN FARMLAND</strong></h1></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
</div>

<div class="et_pb_section et_pb_section_1 et_section_regular">				
	<div class="et_pb_row et_pb_row_1">
		<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">		
			<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close"	style="background-color: #13390a;">	
				<h5 class="et_pb_toggle_title" style="color: white;"> <strong> The Benefits </strong></h5>
				<div class="et_pb_toggle_content clearfix" style="display: none; color:white;">
						<ul>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Land value continues to rise over time</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">2-5% cash-on-cash returns along with potential for land appreciation</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Highly competitive farm rental market = higher rents on the horizon</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Farms are a “real asset,” not a “paper asset”</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Inflation protection</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Commodity exposure without significantly lower volatility than futures or commodity funds</span></li>
						</ul>
				</div> <!-- .et_pb_toggle_content -->
			</div> <!-- .et_pb_toggle -->



			<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close" style="background-color: #13390a;">	
				<h5 class="et_pb_toggle_title" style="color: white;"> <strong> The Benefits </strong></h5>
				<div class="et_pb_toggle_content clearfix" style="color: white; display: none;">
						<ul>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Land value continues to rise over time</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">2-5% cash-on-cash returns along with potential for land appreciation</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Highly competitive farm rental market = higher rents on the horizon</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Farms are a “real asset,” not a “paper asset”</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Inflation protection</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Commodity exposure without significantly lower volatility than futures or commodity funds</span></li>
						</ul>
				</div> <!-- .et_pb_toggle_content -->
			</div>


			<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close" style="background-color: #13390a;">	
				<h5 class="et_pb_toggle_title" style="color: white;"> <strong> The Benefits </strong></h5>
				<div class="et_pb_toggle_content clearfix" style="color: white; display: none;">
						<ul>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Land value continues to rise over time</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">2-5% cash-on-cash returns along with potential for land appreciation</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Highly competitive farm rental market = higher rents on the horizon</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Farms are a “real asset,” not a “paper asset”</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Inflation protection</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Commodity exposure without significantly lower volatility than futures or commodity funds</span></li>
						</ul>
				</div> <!-- .et_pb_toggle_content -->
			</div>


			<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close" style="background-color: #13390a;">	
				<h5 class="et_pb_toggle_title" style="color: white;"> <strong> The Benefits </strong></h5>
				<div class="et_pb_toggle_content clearfix" style="color: white; display: none;">
						<ul>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Land value continues to rise over time</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">2-5% cash-on-cash returns along with potential for land appreciation</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Highly competitive farm rental market = higher rents on the horizon</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Farms are a “real asset,” not a “paper asset”</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Inflation protection</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Commodity exposure without significantly lower volatility than futures or commodity funds</span></li>
						</ul>
				</div> <!-- .et_pb_toggle_content -->
			</div>


			<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close" style="background-color: #13390a;">	
				<h5 class="et_pb_toggle_title" style="color: white;"> <strong> The Benefits </strong></h5>
				<div class="et_pb_toggle_content clearfix" style="color: white; display: none;">
						<ul>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Land value continues to rise over time</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">2-5% cash-on-cash returns along with potential for land appreciation</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Highly competitive farm rental market = higher rents on the horizon</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Farms are a “real asset,” not a “paper asset”</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Inflation protection</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Commodity exposure without significantly lower volatility than futures or commodity funds</span></li>
						</ul>
				</div> <!-- .et_pb_toggle_content -->
			</div>

			<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close" style="background-color: #13390a;">	
				<h5 class="et_pb_toggle_title" style="color: white;"> <strong> The Benefits </strong></h5>
				<div class="et_pb_toggle_content clearfix" style="color: white; display: none;">
						<ul>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Land value continues to rise over time</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">2-5% cash-on-cash returns along with potential for land appreciation</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Highly competitive farm rental market = higher rents on the horizon</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Farms are a “real asset,” not a “paper asset”</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Inflation protection</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Commodity exposure without significantly lower volatility than futures or commodity funds</span></li>
						</ul>
				</div> <!-- .et_pb_toggle_content -->
			</div>
		</div> <!-- .et_pb_column -->			
	</div> <!-- .et_pb_row -->				
</div>



<style>
	#bg-img{
		background-image:url("../images/why.jpg");
	}
	
</style>