<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular" id="bg-img">
	<div class="et_pb_row et_pb_row_0">
		<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				<div class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_dark  et_pb_text_align_center">
					<div class="et_pb_text_inner"><h1> <strong>WHY INVEST IN FARMLAND</strong></h1></div>
				</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
		</div> <!-- .et_pb_row -->
				
</div>

<div class="et_pb_section et_pb_section_1 et_section_regular">				
	<div class="et_pb_row et_pb_row_1">
		<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">		
			<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close"	style="background-color: #13390a;">	
				<h5 class="et_pb_toggle_title" style="color: white;"> <strong> The Benefits </strong></h5>
				<div class="et_pb_toggle_content clearfix" style="display: none; color:white;">
						<ul>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Land value continues to rise over time</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">2-5% cash-on-cash returns along with potential for land appreciation</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Highly competitive farm rental market = higher rents on the horizon</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Farms are a “real asset,” not a “paper asset”</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Inflation protection</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Commodity exposure without significantly lower volatility than futures or commodity funds</span></li>
						</ul>
				</div> <!-- .et_pb_toggle_content -->
			</div> <!-- .et_pb_toggle -->

			<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close" style="background-color: #13390a;">	
						<h5 class="et_pb_toggle_title"> <strong style="color: white;">Demand</strong></h5>				
						<div class="et_pb_toggle_content clearfix" style="color: white; display: none;">
							<p>With food demand expected to increase up to 98% by 2050,
								agricultural markets will be changing like we haven’t seen
								before. Farmers across the globe will need to increase crop
								production by expanding the amount of farmland being
								utilized and by enhancing productivity on existing land.
								Farmland is truly the most important asset in the world. This
								is why considering ownership in farmland can be an
								extremely beneficial move. They don’t make any more of it!
								</p>
						<ol>
								<li style="font-weight: 400;"><span style="font-weight: 400;">By 2050 the world population will grow to over 10 billion people.
								</span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">In addition to 3 billion more people, the middle class will grow at
									an unprecedented rate.</span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">An additional 3 billion people will enter the middle class causing
										food demand to sky rocket.This will all have to be accomplished
										on less farmland.
										</span>
								</li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">The U.S. alone loses almost 500,000 acres of farmland a year.
									</span></li>
									<li style="font-weight: 400;"><span style="font-weight: 400;">That’s a loss of nearly 15,000,000 acres of farmland by 2050.
									</span></li>
									<li style="font-weight: 400;"><span style="font-weight: 400;">The average U.S. farmers age is 58. As more and more farmers
										reach the retirement age, a large portion of land will change
										hands, supplying the market with a great opportunity to invest in
										farmland.

									</span></li>
						</ol>
										</div> <!-- .et_pb_toggle_content -->
			</div>



			<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close" style="background-color: #13390a;">	
						<h5 class="et_pb_toggle_title"> <strong style="color: white;">Cash Flows are Virtually Guaranteed</strong> </h5>				
						<div class="et_pb_toggle_content clearfix" style="color: white; display: none;">
						<p><span style="font-weight: 400;">Typical rental agreements have the farmer pay a portion of their annual rent at the beginning of the calendar year before any crops are planted. Weather, grain prices, and other factors are the farmer’s issues. Landowners simply collect the rent and pay the taxes and liability insurance (which are minimal). Current rental rates are creating cash flows of 2-5% of the farm value, which is historically low. We expect farm cash flows to increase over the next several years due to the competitive rental market and rising grain prices.</span></p>
				</div> <!-- .et_pb_toggle_content -->
			</div>


			<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close" style="background-color: #13390a;">	
						<h5 class="et_pb_toggle_title"><strong style="color: white;">4 Factors Driving Crop Prices</strong></h5>				
						<div class="et_pb_toggle_content clearfix" style="color: white; display: none;">
						<ol>
								<li style="font-weight: 400;"><span style="font-weight: 400;">World population growth</span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">Production of ethanol and biofuels</span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">Global money supply increases, creating inflationary pressure</span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">Development of the middle class in emerging markets consuming high protein diets</span></li>
						</ol>
										</div> <!-- .et_pb_toggle_content -->
			</div>


			<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close" style="background-color: #13390a;">	
						<h5 class="et_pb_toggle_title"><strong style="color: white;">Farmland Balance Sheets are Favorable</strong></h5>				
						<div class="et_pb_toggle_content clearfix" style="color: white; display: none;">
							<p><span style="font-weight: 400;">According to the USDA, farmland debt-to-equity ratios are near all-time lows. Most U.S. farmland is owned outright, without any debt against it. Low leverage means less price fluctuation. Asset bubbles are caused when debt is used to highly leverage investments. Farmland is likely to maintain its value because the balance sheets of America’s farmland could not be more solid than it is today.
							</span></p>
				</div> <!-- .et_pb_toggle_content -->
			</div>


			<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close" style="background-color: #13390a;">	
				<h5 class="et_pb_toggle_title" style="color: white;"> <strong> Opportunity for High Returns
				 </strong></h5>
				<div class="et_pb_toggle_content clearfix" style="color: white; display: none;">
					<p>Farm returns have averaged more than 12% since the great depression. With the
						demand for farmers to produce up to 98% more food by 2050, now is an opportune time
						to consider an investment in farmland and capitalize on those returns.
					</p>
										</div> <!-- .et_pb_toggle_content -->
			</div>

			<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close" style="background-color: #13390a;">	
				<h5 class="et_pb_toggle_title" style="color: white;"> <strong> More Stability than the Stock Market
 </strong></h5>
				<div class="et_pb_toggle_content clearfix" style="color: white; display: none;">
						<p>When you invest in agriculture, you are investing is a physical plot of land. This land’s
value will only appreciate over time, unlike stocks that often depreciate.
</p>
				</div> <!-- .et_pb_toggle_content -->
			</div>
		</div> <!-- .et_pb_column -->			
	</div> <!-- .et_pb_row -->				
</div>



<style>
	#bg-img{
		background-image:url("../images/why.jpg");
	}
	
</style>