<div class="et_pb_section et_pb_section_0 et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h1 style="text-align: center;"><b>Our Commitment To Privacy</b></h1></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_1 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><p><span style="font-weight: 400;">Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our homepage and at every point where personally identifiable information may be requested.</span></p>
<h3><span style="font-weight: 400;">The Information We Collect</span></h3>
<p><span style="font-weight: 400;">This notice applies to all information collected or submitted on the American Farm Investors website. On some pages, you can make requests or register to receive materials. The types of personal information collected at these pages are:</span></p>
<p><span style="font-weight: 400;">Name, Address, Email Address, Phone Numbers, and any communications with American Farm Investors</span></p>
<h3><span style="font-weight: 400;">The Way We Use Information</span></h3>
<p><span style="font-weight: 400;">We use the information you provide about yourself when placing a request only to discuss your potential project and draft a comprehensive proposal and agreement. We do not share this information with outside parties except to the extent necessary to complete that order.</span></p>
<p><span style="font-weight: 400;">We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties.</span></p>
<p><span style="font-weight: 400;">We use non-identifying and aggregate information to better design our website and coordinate our advertising. For example, we may notice that X number of individuals visited a certain area on our website, or that Y number of men and Z number of women filled out our registration form, but we would not disclose anything that could be used to identify those individuals.</span></p>
<p><span style="font-weight: 400;">Finally, we never use or share the personally identifiable information provided to us online in ways unrelated to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses.</span></p>
<h3><span style="font-weight: 400;">Our Commitment To Data Security</span></h3>
<p><span style="font-weight: 400;">To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</span></p>
<h3><span style="font-weight: 400;">Our Commitment To Children’s Privacy</span></h3>
<p><span style="font-weight: 400;">Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our website from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.</span></p>
<h3><span style="font-weight: 400;">How You Can Access Or Correct Your Information</span></h3>
<p><span style="font-weight: 400;">You can access all your personally identifiable information that we collect online and maintain by e-mailing a request to modify or retrieve this information at brian@americanfarminvestors.com, Subject: “Request for Contact Info Update. We may verify that you are with the organization or are the person about whom you are requesting to change the contact information. We use this procedure to better safeguard your information.</span></p>
<p><span style="font-weight: 400;">You can correct factual errors in your personally identifiable information by sending us a request that credibly shows error to brian@americanfarminvestors.com</span></p>
<p><span style="font-weight: 400;">To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access or making corrections.</span></p>
<h3><span style="font-weight: 400;">How To Contact Us</span></h3>
<p><span style="font-weight: 400;"> Should you have other questions or concerns about these privacy policies, please call us at <a href="tel:8599403517">+16084663720</a> or send us an email at </span><a href="mailto:brian@americanfarminvestors.com"><span style="font-weight: 400;">brian@americanfarminvestors.com</span></a><span style="font-weight: 400;">.</span></p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
			</div>