<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css" integrity="sha512-8Tb+T7SKUFQWOPIQCaLDWWe1K/SY8hvHl7brOH8Nz5z1VT8fnf8B+9neoUzmFY3OzkWMMs3OjrwZALgB1oXFBg==" crossorigin="anonymous" />


<div class="et_pb_section et_pb_section_0 et_section_regular" id="bg-img2">
	<div class="et_pb_row et_pb_row_0">
		<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
			<div class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_light  et_pb_text_align_center">
				<div class="et_pb_text_inner"><h1> <strong style="color:white;"> PROJECTS</strong></h1></div>
			</div> <!-- .et_pb_text -->
			
			<div class="et_pb_module et_pb_text et_pb_text_1 et_pb_bg_layout_light  et_pb_text_align_center">	
				<div class="et_pb_text_inner"><p>  <strong style="color:white;"> Below you will find photos and information regarding each of our properties.&nbsp; </strong> </p></div>
			</div> <!-- .et_pb_text -->
		</div> <!-- .et_pb_column -->
				
				
	</div> <!-- .et_pb_row -->
				
</div>


<div class="et_pb_section et_pb_section_1 et_section_regular">
   <div class="et_pb_row et_pb_row_1 et_pb_equal_columns" >
		<div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">
			<div class="et_pb_module et_pb_gallery et_pb_gallery_0 et_pb_bg_layout_dark  et_pb_slider et_pb_gallery_fullwidth">
				<div class="et_pb_gallery_items et_post_gallery clearfix" data-per_page="4">
				<div class="et_pb_gallery_item et_pb_bg_layout_dark et-pb-active-slide">
				<div class="et_pb_gallery_image landscape">
					<a href="../wp-content/uploads/2019/02/Burgin-Farm-1-1-e1551197646954.jpg" title="Burgin 1">
					<img src="../wp-content/uploads/2019/02/Burgin-Farm-1-1-e1551197646954.jpg" alt="Burgin 1">
					<span class="et_overlay"></span>
				</a>
				</div>
				</div>
				<div class="et_pb_gallery_item et_pb_bg_layout_dark">
				<div class="et_pb_gallery_image landscape">
					<a href="../wp-content/uploads/2019/02/Burgin-Farm-2-1-e1551197669489.jpg" title="Burgin 2">
					<img src="../wp-content/uploads/2019/02/Burgin-Farm-2-1-e1551197669489.jpg" alt="Burgin 2">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_bg_layout_dark">
				<div class="et_pb_gallery_image landscape">
					<a href="../wp-content/uploads/2019/03/Burgin-Regional-Soil-Map.png" title="Burgin Regional Soil Map">
					<img src="../wp-content/uploads/2019/03/Burgin-Regional-Soil-Map.png" alt="Burgin Regional Soil Map" srcset="https://americanfarminvestors.com/wp-content/uploads/2019/03/Burgin-Regional-Soil-Map.png 938w, https://americanfarminvestors.com/wp-content/uploads/2019/03/Burgin-Regional-Soil-Map-300x277.png 300w, https://americanfarminvestors.com/wp-content/uploads/2019/03/Burgin-Regional-Soil-Map-768x710.png 768w" sizes="(max-width: 938px) 100vw, 938px">
					<span class="et_overlay"></span>
				</a>
				</div>
				</div>
				</div><!-- .et_pb_gallery_items -->
				<div class="et-pb-slider-arrows"><a class="et-pb-arrow-prev" href="#"><span>Previous</span></a><a class="et-pb-arrow-next" href="#"><span>Next</span></a></div><div class="et-pb-controllers"><a href="#" class="et-pb-active-control">1</a><a href="#">2</a><a href="#">3</a></div></div><!-- .et_pb_gallery --><div class="et_pb_module et_pb_text et_pb_text_2 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><p>Click to scroll or enlarge photos</p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h2 style="text-align: center;"><span style="font-weight: 400;">Danville, Kentucky</span></h2></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h4><span style="font-weight: 400;">106 Acres in the path of development</span></h4>
	<ul>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Purchased: January 2014</span></li>
		<li style="font-weight: 400;">Crop Rotation: Red Winter Wheat, Non-GMO Soybeans, Corn</li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Premier farm with excellent soils</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Located within one mile of the major commercial hub of beautiful Danville, KY</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Purchased for a client who wanted a family investment farm to pass down through the generations</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>MInimum investment:</strong> $10,000</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>IRR:</strong>25%</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>ROI:</strong>22% IN Less Than Four months</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>status:</strong><span style="color: green;">OPEN</span></span></li>

	
	</ul>
	</div>
			</div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_custom_button_icon et_pb_button_0 et_pb_bg_layout_dark" href="https://wa.me/+16084663720" >Message Us To Discuss Property Investments <i class="whatsapp icon"></i></a>
			</div>
			</div> <!-- .et_pb_column -->
				
				
	</div> <!-- .et_pb_row -->
				
</div>

<div class="et_pb_section et_pb_section_1 et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_1 et_pb_equal_columns">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_gallery et_pb_gallery_0 et_pb_bg_layout_dark  et_pb_slider et_pb_gallery_fullwidth">
				<div class="et_pb_gallery_items et_post_gallery clearfix" data-per_page="4"><div class="et_pb_gallery_item et_pb_bg_layout_dark et-pb-active-slide">
				<div class="et_pb_gallery_image landscape">
					<a href="../wp-content/uploads/2019/02/Danville-2-e1551197545363.jpg" title="Burgin 1">
							<img src="../wp-content/uploads/2019/02/Danville-2-e1551197545363.jpg" alt="Danville 2">					<span class="et_overlay"></span>
				</a>
				</div>
				</div>
				<div class="et_pb_gallery_item et_pb_bg_layout_dark">
				<div class="et_pb_gallery_image landscape">
				<a href="../wp-content/uploads/2019/02/Danville-1-e1551197624898.jpg" title="Danville 1">
					<img src="../wp-content/uploads/2019/02/Danville-1-e1551197624898.jpg" alt="Danville 1">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_bg_layout_dark">
				<div class="et_pb_gallery_image landscape">
					<a href="../wp-content/uploads/2019/02/Danville-3-e1551197471627.jpg" title="Burgin Regional Soil Map">
					<img src="../wp-content/uploads/2019/02/Danville-3-e1551197471627.jpg" alt="Danville 3">					<span class="et_overlay"></span>
				</a>
				</div></div></div><!-- .et_pb_gallery_items --><div class="et-pb-slider-arrows"><a class="et-pb-arrow-prev" href="#"><span>Previous</span></a><a class="et-pb-arrow-next" href="#"><span>Next</span></a></div><div class="et-pb-controllers"><a href="#" class="et-pb-active-control">1</a><a href="#">2</a><a href="#">3</a></div></div><!-- .et_pb_gallery --><div class="et_pb_module et_pb_text et_pb_text_2 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><p>Click to scroll or enlarge photos</p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h2 style="text-align: center;"><span style="font-weight: 400;">Burgin, Kentucky</span></h2></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h4><span style="font-weight: 400;">1 Square Mile of Prime Farmland – 635 Acres</span></h4>
	<ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Purchased: August 2017</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Quite possibly the most productive, efficient farm in all of Kentucky</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">This property produces corn, wheat, soybeans <g class="gr_ gr_8 gr-alert gr_gramm gr_inline_cards gr_run_anim Punctuation only-ins replaceWithoutSep" id="8" data-gr-id="8">and</g> industrial hemp</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Soil map (pictured) shows blue-colored soil as most productive land in the region (average 200+ b/a corn yields)</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>MInimum investment:</strong> $17,000</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>IRR:</strong>32%</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>ROI:</strong>30% IN Less Than Four months</span></li>

		<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>status:</strong><span style="color: green;">OPEN</span></span></li>
	</ul></div>
			</div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_custom_button_icon et_pb_button_0 et_pb_bg_layout_dark" href="https://wa.me/+16084663720" >Message Us To Discuss Property Investments <i class="whatsapp icon"></i> </a>
			</div>
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
</div>


<div class="et_pb_section et_pb_section_1 et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_gallery et_pb_gallery_0 et_pb_bg_layout_dark  et_pb_slider et_pb_gallery_fullwidth">
				<div class="et_pb_gallery_items et_post_gallery clearfix" data-per_page="4"><div class="et_pb_gallery_item et_pb_bg_layout_dark et-pb-active-slide">
				<div class="et_pb_gallery_image landscape">
					<a href="../wp-content/uploads/2019/02/Raywick-1-e1551197244995.jpg" title="Burgin 1">
						<img src="../wp-content/uploads/2019/02/Raywick-1-e1551197244995.jpg" alt="Raywick 1">					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_bg_layout_dark">
				<div class="et_pb_gallery_image landscape">
					<a href="../wp-content/uploads/2019/02/Raywick-2-e1551197393625.jpg" title="Burgin 2">
						<img src="../wp-content/uploads/2019/02/Raywick-2-e1551197393625.jpg" alt="Raywick 2">					
							<span class="et_overlay"></span>
				</a>
				</div></div>
				<div class="et_pb_gallery_item et_pb_bg_layout_dark">
					<div class="et_pb_gallery_image landscape">
						<a href="../wp-content/uploads/2019/02/Raywick-3-e1551197272217.jpg" title="Burgin Regional Soil Map">
						<img src="../wp-content/uploads/2019/02/Raywick-3-e1551197272217.jpg" alt="Raywick 3">					<span class="et_overlay"></span>
						</a>
					</div>
				</div>
				<div class="et_pb_gallery_item et_pb_bg_layout_dark">
					<div class="et_pb_gallery_image landscape">
						<a href="../wp-content/uploads/2019/02/Raywick-4-e1551197306367.jpg" title="Burgin Regional Soil Map">
							<img src="../wp-content/uploads/2019/02/Raywick-4-e1551197306367.jpg" alt="Raywick 4">		<span class="et_overlay"></span>				</a>
					</div>
				</div>
				<div class="et_pb_gallery_item et_pb_bg_layout_dark">
					<div class="et_pb_gallery_image landscape">
						<a href="../wp-content/uploads/2019/02/Raywick-5-e1551197253603.jpg" title="Burgin Regional Soil Map">
					<img src="../wp-content/uploads/2019/02/Raywick-5-e1551197253603.jpg" alt="Raywick 5">					<span class="et_overlay"></span>
						</a>
					</div>
				</div>
				<div class="et_pb_gallery_item et_pb_bg_layout_dark">
					<div class="et_pb_gallery_image landscape">
						<a href="../wp-content/uploads/2019/02/Raywick-6-e1551197350348.jpg" title="Burgin Regional Soil Map">
						<img src="../wp-content/uploads/2019/02/Raywick-6-e1551197350348.jpg" alt="Raywick 6">					<span class="et_overlay"></span>
						</a>
					</div>
				</div>
				<div class="et_pb_gallery_item et_pb_bg_layout_dark">
					<div class="et_pb_gallery_image landscape">
						<a href="../wp-content/uploads/2019/02/Raywick-8-e1551197374409.jpg" title="Burgin Regional Soil Map">
						<img src="../wp-content/uploads/2019/02/Raywick-8-e1551197374409.jpg" alt="Raywick 7">					<span class="et_overlay"></span>
						</a>
					</div>
				</div>
				<div class="et_pb_gallery_item et_pb_bg_layout_dark">
					<div class="et_pb_gallery_image landscape">
						<a href="../wp-content/uploads/2019/02/Raywick-9-e1551197262145.jpg"title="Burgin Regional Soil Map">
						<img src="../wp-content/uploads/2019/02/Raywick-9-e1551197262145.jpg" alt="Raywick 8">				<span class="et_overlay"></span>
						</a>
					</div>
				</div>
		</div><!-- .et_pb_gallery_items --><div class="et-pb-slider-arrows"><a class="et-pb-arrow-prev" href="#"><span>Previous</span></a><a class="et-pb-arrow-next" href="#"><span>Next</span></a></div><div class="et-pb-controllers"><a href="#" class="et-pb-active-control">1</a><a href="#">2</a><a href="#">3</a></div></div><!-- .et_pb_gallery --><div class="et_pb_module et_pb_text et_pb_text_2 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
		<div class="et_pb_text_inner"><p>Click to scroll or enlarge photos</p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner">
<h2><span style="font-weight: 400;">Raywick, Kentucky</span></h2>					
</div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner">
<h4><span style="font-weight: 400;">270 Acres on Rolling Fork River (110 acres of river bottom land)</span></h4>	
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Purchased: April 2012</span></li>
<li style="font-weight: 400;">Crop Rotation: Red Winter Wheat, Non-GMO Soybeans, Corn</li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Unique layout creates 1/4 mile of road frontage on major highway of the Central Kentucky region</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>MInimum investment:</strong> $15,000</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>IRR:</strong>28%</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>ROI:</strong>22% IN Less Than Four months</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>status:</strong><span style="color: green;">OPEN</span></span></li>
</ul>
	</div>
			</div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_custom_button_icon et_pb_button_0 et_pb_bg_layout_dark" href="https://wa.me/+16084663720">Message Us To Discuss Property Investments <i class="whatsapp icon"></i></a>
			</div>
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
</div>


<div class="et_pb_section et_pb_section_1 et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_1 et_pb_equal_columns">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_gallery et_pb_gallery_0 et_pb_bg_layout_dark  et_pb_slider et_pb_gallery_fullwidth">
				<div class="et_pb_gallery_items et_post_gallery clearfix" data-per_page="4"><div class="et_pb_gallery_item et_pb_bg_layout_dark et-pb-active-slide">
				<div class="et_pb_gallery_image landscape">
				<a href="../wp-content/uploads/2019/02/Harrodsburg-2-e1551197193236.jpg" title="Harrodsburg 1">
					<img src="../wp-content/uploads/2019/02/Harrodsburg-2-e1551197193236.jpg" alt="Harrodsburg 2">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_bg_layout_dark">
				<div class="et_pb_gallery_image landscape">
					<a href="../wp-content/uploads/2019/02/Burgin-Farm-2-1-e1551197669489.jpg" title="Burgin 2">
					<img src="../wp-content/uploads/2019/02/Burgin-Farm-2-1-e1551197669489.jpg" alt="Burgin 2">
					<span class="et_overlay"></span>
				</a>
				</div></div>
				
				
				</div><!-- .et_pb_gallery_items --><div class="et-pb-slider-arrows"><a class="et-pb-arrow-prev" href="#"><span>Previous</span></a><a class="et-pb-arrow-next" href="#"><span>Next</span></a></div><div class="et-pb-controllers"><a href="#" class="et-pb-active-control">1</a><a href="#">2</a><a href="#">3</a></div></div><!-- .et_pb_gallery --><div class="et_pb_module et_pb_text et_pb_text_2 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><p>Click to scroll or enlarge photos</p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner">
<h2><span style="font-weight: 400;">Harrodsburg, Kentucky</span></h2>				</div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner">
<h4><span style="font-weight: 400;">34 Acres on Major 4-Lane Highway</span></h4>	
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Purchased: April 2012</span></li>
<li style="font-weight: 400;">Crop Rotation: Red Winter Wheat, Non-GMO Soybeans, Corn</li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Unique layout creates 1/4 mile of road frontage on major highway of the Central Kentucky region</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>MInimum investment:</strong> $10,000</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>IRR:</strong>25%</span></li
		<li style="font-weight: 400;"><span style="font-weight: 400;"><strong>status:</strong><span style="color:red
		;">Investment Portal Closed</span></span></li>
</ul>
	</div>
			</div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_custom_button_icon et_pb_button_0 et_pb_bg_layout_dark" href="https://wa.me/+16084663720">Message Us To Discuss Property Investments <i class="whatsapp icon"></i></a>
			</div>
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
</div>

<style>
#bg-img2{
  background-image:url("../images/p4.jpg");
}
</style>








