<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular" id = "bg-img">
				
				
				
				
					<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner white"><h1><strong style="color:white;">OUR TEAM</strong></h1></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
</div> <!-- .et_pb_row -->
				
				
</div> <!-- .et_pb_section -->			           
<div class="et_pb_section et_pb_section_1 et_pb_with_background et_section_specialty">
				<div class="et_pb_row">
					<div class="et_pb_column et_pb_column_1_2 et_pb_column_1    et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_0 et_pb_bg_layout_light clearfix  et_pb_text_align_left">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img src="../wp-content/uploads/2019/03/Brian-Luftman.jpg" alt="BRIAN LUFTMAN" srcset="https://americanfarminvestors.com/wp-content/uploads/2019/03/Brian-Luftman.jpg 201w, https://americanfarminvestors.com/wp-content/uploads/2019/03/Brian-Luftman-150x150.jpg 150w" sizes="(max-width: 201px) 100vw, 201px" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">BRIAN LUFTMAN</h4>
					<p class="et_pb_member_position">Founder</p>
					
					
				</div> <!-- .et_pb_team_member_description -->
			</div> <!-- .et_pb_team_member --><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper  et_pb_module ">
				<a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" href="/contact">SEND BRIAN A MESSAGE</a>
			</div>
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_2   et_pb_specialty_column  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_row_inner et_pb_row_inner_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_inner et_pb_column_inner_0 et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_1 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><p><span style="font-weight: 400;">Brian Luftman has been investing in farmland for years. He learned about farmland as an investment from his eight years of trading commodities on the floor of The Chicago Board of Trade. He founded Luftrade, a commodity options company at age twenty-seven. Through his years in Chicago, he gained valuable expertise in livestock and grain futures and options. Mr. Luftman moved back to his home state of Kentucky in 2011 to create American Farm Investors. He is incredibly passionate that farmland is the best possible investment for today&#8217;s economic condition.</span></p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row_inner -->
			</div> <!-- .et_pb_column -->
				</div> <!-- .et_pb_row -->
				
</div> <!-- .et_pb_section -->

			
<div class="et_pb_section et_pb_section_3 et_pb_with_background et_section_specialty">
				
				<div class="et_pb_row">
					<div class="et_pb_column et_pb_column_1_2 et_pb_column_5   et_pb_specialty_column  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_row_inner et_pb_row_inner_2">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_inner et_pb_column_inner_2 et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><p><span style="font-weight: 400;">Harvey Mitchell has been actively farming for the past forty years. In addition, he has remained involved in professional farm management, real estate sales, banking, state and national agriculture policy while also consulting through his company, Ag. Services Inc. His focus has been agricultural economic analysis and matching resources with opportunity for both small and large scale producers. In Harvey&#8217;s opinion, the future of successful farming is a mix of investment strategy, financial management and understanding agriculture. He takes great pleasure in assisting current and future farmers in making the right decisions while setting them up for long-term success in the industry.</span></p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row_inner -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_6    et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_2 et_pb_bg_layout_light clearfix  et_pb_text_align_right">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img src="../wp-content/uploads/2019/03/harvey-Mitchell-1.png" alt="HARVEY MITCHELL" srcset="https://americanfarminvestors.com/wp-content/uploads/2019/03/harvey-Mitchell-1.png 201w, https://americanfarminvestors.com/wp-content/uploads/2019/03/harvey-Mitchell-1-150x150.png 150w" sizes="(max-width: 201px) 100vw, 201px" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">HARVEY MITCHELL</h4>
					<p class="et_pb_member_position">Agricultural Economist</p>
					
					
				</div> <!-- .et_pb_team_member_description -->
			</div> <!-- .et_pb_team_member --><div class="et_pb_button_module_wrapper et_pb_button_2_wrapper et_pb_button_alignment_right et_pb_module ">
				<a class="et_pb_button et_pb_button_2 et_pb_bg_layout_light" href="/contact">SCHEDULE A CALL</a>
			</div>
			</div> <!-- .et_pb_column -->
				</div> <!-- .et_pb_row -->
				
			</div> <!-- .et_pb_section -->
			
<div class="et_pb_section et_pb_section_4 et_pb_with_background et_section_specialty">
				<div class="et_pb_row">
					<div class="et_pb_column et_pb_column_1_2 et_pb_column_7    et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_3 et_pb_bg_layout_light clearfix  et_pb_text_align_left">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img src="../wp-content/uploads/2019/03/Dan-Campbell.png" alt="DAN CAMPBELL" srcset="https://americanfarminvestors.com/wp-content/uploads/2019/03/Dan-Campbell.png 201w, https://americanfarminvestors.com/wp-content/uploads/2019/03/Dan-Campbell-150x150.png 150w" sizes="(max-width: 201px) 100vw, 201px" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">DAN CAMPBELL</h4>
					<p class="et_pb_member_position">Soil Expert and Real Estate Valuations Consultant</p>
					
					
				</div> <!-- .et_pb_team_member_description -->
			</div> <!-- .et_pb_team_member --><div class="et_pb_button_module_wrapper et_pb_button_3_wrapper  et_pb_module ">
				<a class="et_pb_button et_pb_button_3 et_pb_bg_layout_light" href="/contact">CONTACT US </a>
			</div>
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_8   et_pb_specialty_column  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_row_inner et_pb_row_inner_3">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_inner et_pb_column_inner_3 et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><p><span style="font-weight: 400;">Dan Campbell has 35 years of experience as a real estate broker. He has earned college degrees in both Business Administration and Agricultural Science. He has been representing buyers and sellers for four decades, specializing in agricultural and recreational properties. Dan&#8217;s expertise in farming and soil types were developed in the classroom and from years of farming his own properties. His career as a Real Estate Broker has earned him industry recognition as an Accredited Buyers Representative (ABR) and Senior Real Estate Specialist (SRES).</span></p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row_inner -->
			</div> <!-- .et_pb_column -->
				</div> <!-- .et_pb_row -->
				
</div>

<style>
	#bg-img{
		background-image:url("../images/pics1.png");
	}
	
</style>