<div class="et_pb_section et_pb_section_5 et_pb_fullwidth_section et_section_regular">
    <div class="et_pb_module et_pb_fullwidth_slider_1 et_pb_slider et_slider_auto et_slider_speed_7000 et_slider_auto_ignore_hover et_slide_transition_to_next et_pb_bg_layout_dark" data-active-slide="et_pb_slide_6">
        <div class="et_pb_slides">
            <div class="et_pb_slide et_pb_slide_3 et_pb_bg_layout_dark et_pb_media_alignment_center" data-slide-id="et_pb_slide_3" style="z-index: 1; display: none; opacity: 0;">
                    
                    
                    <div class="et_pb_container clearfix" style="height: 431px;">
                        <div class="et_pb_slider_container_inner">
                            
                            <div class="et_pb_slide_description">
                                <h2 class="et_pb_slide_title">Testimonials</h2><div class="et_pb_slide_content"><p><span style="font-weight: 400;">“American Farm Investors has delivered on every promise and then some. I am thrilled to be a part of such a rewarding investment.” – Jerry G., Champaign, IL (client since 2011)</span></p></div>
                                
                            </div> <!-- .et_pb_slide_description -->
                        </div>
                    </div> <!-- .et_pb_container -->
                    
                </div> <!-- .et_pb_slide -->
                <div class="et_pb_slide et_pb_slide_4 et_pb_bg_layout_dark et_pb_media_alignment_center" data-slide-id="et_pb_slide_4" style="z-index: 1; display: none; opacity: 0;">
                    
                    
                    <div class="et_pb_container clearfix" style="height: 431px;">
                        <div class="et_pb_slider_container_inner">
                            
                            <div class="et_pb_slide_description">
                                <h2 class="et_pb_slide_title">Testimonials</h2><div class="et_pb_slide_content"><p><span style="font-weight: 400;">“Working with Brian and AFI has not only been extremely exciting and rewarding but also very simple and transparent. &nbsp;Brian’s extensive knowledge of farmland investing and commodities gives me the highest degree of confidence and assurance. &nbsp;My investment has been managed with exceptional professionalism and forthrightness.” -H. Phillips, Lexington, KY (client since 2012)</span></p></div>
                                
                            </div> <!-- .et_pb_slide_description -->
                        </div>
                    </div> <!-- .et_pb_container -->
                    
                </div> <!-- .et_pb_slide -->
                <div class="et_pb_slide et_pb_slide_5 et_pb_bg_layout_dark et_pb_media_alignment_center et-pb-moved-slide" data-slide-id="et_pb_slide_5" style="z-index: 2; display: none; opacity: 0;">
                    
                    
                    <div class="et_pb_container clearfix" style="height: 431px;">
                        <div class="et_pb_slider_container_inner">
                            
                            <div class="et_pb_slide_description">
                                <h2 class="et_pb_slide_title">Testimonials</h2><div class="et_pb_slide_content"><p><span style="font-weight: 400;">“I was searching for an investment that would provide diversification and a conservative stream of income. The investment in farmland has worked well on both counts. I would advise any investor that is looking for these features to check into this type of investment.” -Mike S., Champaign, IL (client since 2011)</span></p></div>
                                
                            </div> <!-- .et_pb_slide_description -->
                        </div>
                    </div> <!-- .et_pb_container -->
                    
                </div> <!-- .et_pb_slide -->
                <div class="et_pb_slide et_pb_slide_6 et_pb_bg_layout_dark et_pb_media_alignment_center et-pb-active-slide" data-slide-id="et_pb_slide_6" style="z-index: 1; display: block; opacity: 1;">
                    
                    
                    <div class="et_pb_container clearfix" style="height: 431px;">
                        <div class="et_pb_slider_container_inner">
                            
                            <div class="et_pb_slide_description">
                                <h2 class="et_pb_slide_title">Testimonials</h2><div class="et_pb_slide_content"><p><span style="font-weight: 400;">“I was looking for a way to invest in farmland and American Farm Investors has proven to be excellent. Projected returns have been met and I consider AFI to be a perfect low-risk alternative investment.” -Noah O., Birmingham, AL (client since 2011)</span></p></div>
                                
                            </div> <!-- .et_pb_slide_description -->
                        </div>
                    </div> <!-- .et_pb_container -->
                    
                </div> <!-- .et_pb_slide -->
                <div class="et_pb_slide et_pb_slide_7 et_pb_bg_layout_dark et_pb_media_alignment_center" data-slide-id="et_pb_slide_7" style="z-index: 1; display: none; opacity: 0;">
                    
                    
                    <div class="et_pb_container clearfix" style="height: 431px;">
                        <div class="et_pb_slider_container_inner">
                            
                            <div class="et_pb_slide_description">
                                <h2 class="et_pb_slide_title">Testimonials</h2><div class="et_pb_slide_content"><p><span style="font-weight: 400;">“As an investor in two farms sight unseen with Brian, it is obviously based on a high level of trust. AFI has delivered on everything they promised and I could not be more pleased. Just received my first dividend check!” -John G., Biloxi, MS (client since 2012)</span></p></div>
                                
                        </div> <!-- .et_pb_slide_description -->
                    </div>
            </div> <!-- .et_pb_container -->
                    
        </div> <!-- .et_pb_slide -->
                
    </div>
</div>
 <!-- .et_pb_slides -->
				
 
{{!-- <div class="et-pb-slider-arrows"><a class="et-pb-arrow-prev" href="#"><span>Previous</span></a><a class="et-pb-arrow-next" href="#"><span>Next</span></a></div><div class="et-pb-controllers"><a href="#" class="">1</a><a href="#" class="">2</a><a href="#" class="">3</a><a href="#" class="et-pb-active-control">4</a><a href="#" class="">5</a></div></div> <!-- .et_pb_slider --> --}}



<div class="et_pb_section et_pb_section_7 et_pb_with_background et_section_regular" style="padding-top: 3em; padding-bottom: 3em;">				
	<div class="et_pb_row et_pb_row_7">
		<div class="et_pb_column et_pb_column_4_4 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough et-last-child">
		    <div class="et_pb_module et_pb_text et_pb_text_18 et_pb_bg_layout_dark  et_pb_text_align_left">
				<div class="et_pb_text_inner">
                    <h1 style="text-align: center;">CONTACT US</h1>
                </div>
            </div>
		</div> <!-- .et_pb_text -->
	</div> <!-- .et_pb_column -->
				
    <div class="et_pb_row et_pb_row_8">
		<div class="et_pb_column et_pb_column_1_3 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough">				
			<div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_pb_bg_layout_dark  et_pb_text_align_center  et_pb_blurb_position_top">
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image">
                        <span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et-pb-icon et-animated"></span></span>
                    </div>
					<div class="et_pb_blurb_container"> 
                        <div class="et_pb_blurb_description"><p><a href="tel:859-940-3517">859-940-3517</a></p>                      
                    </div>
				</div>
			</div> <!-- .et_pb_blurb_content -->
		</div> <!-- .et_pb_blurb -->
    </div> <!-- .et_pb_column -->
            
            <div class="et_pb_column et_pb_column_1_3 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough">
				<div class="et_pb_module et_pb_blurb et_pb_blurb_1 et_pb_bg_layout_dark  et_pb_text_align_center  et_pb_blurb_position_top">
				
				
				    <div class="et_pb_blurb_content">
                        <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et-pb-icon et-animated"></span></span>
                        </div>
                        <div class="et_pb_blurb_container">	
						    <div class="et_pb_blurb_description"><p><a href="mailto:brian@americanfarminvestors.com" target="blank" rel="noopener noreferrer"><span style="color: white;">brian@americanfarminvestors.com</span></a></p>
                        </div>
					</div>
				</div> <!-- .et_pb_blurb_content -->
			</div> <!-- .et_pb_blurb -->
			</div> <!-- .et_pb_column -->
            
            <div class="et_pb_column et_pb_column_1_3 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_2 et_pb_bg_layout_dark  et_pb_text_align_center  et_pb_blurb_position_top">
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et-pb-icon et-animated"></span></span></div>
					<div class="et_pb_blurb_container">
						
						<div class="et_pb_blurb_description"><p><a href="https://goo.gl/maps/fjkh6WkjHbD2" target="blank" rel="noopener noreferrer"><span style="color: white;">Get Directions</span></a></p></div>
					</div>
				</div> <!-- .et_pb_blurb_content -->
			</div> <!-- .et_pb_blurb -->
			</div> <!-- .et_pb_column -->
				
				
	</div>
				
</div> <!-- .et_pb_row -->

<div class="et_pb_section et_pb_section_9 et_pb_with_background et_section_regular"style="padding-top: 3em; padding-bottom: 3em;">
	<div class="et_pb_row et_pb_row_9">
	    <div class="et_pb_column et_pb_column_4_4 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
			<div class="et_pb_module et_pb_text et_pb_text_19 et_pb_bg_layout_dark  et_pb_text_align_center">
				<div class="et_pb_text_inner"><p><a href="/"><span style="color: white;">Home</span></a> | <a href="/team"><span style="color: white;">Our Team</span></a> | <a href="/property"><span style="color: white;">properties</span></a> | <a href="/howto"><span style="color: white;">How To Invest</span></a>|&nbsp;<a href="/invest"><span style="color: white;">Why farms</span></a>|&nbsp;<a href="/contact"><span style="color: white;">Contact</span></a></p></div>
			</div> <!-- .et_pb_text -->
            
            <div class="et_pb_module et_pb_text et_pb_text_20 et_clickable et_pb_bg_layout_dark  et_pb_text_align_center">
				<div class="et_pb_text_inner">
                    <p>&nbsp;</p>
                    <p><a href="https://www.facebook.com/AmericanFarmInvestors/"><img class="aligncenter size-full wp-image-611" src="wp-content/uploads/2016/06/facebook-7-xxl-150x150.png" alt="American Farm Investors" width="32" height="32"></a></p>
                </div>
			</div> <!-- .et_pb_text -->
            
            <div class="et_pb_module et_pb_text et_pb_text_21 et_pb_bg_layout_dark  et_pb_text_align_center">
				<div class="et_pb_text_inner">
                    <p>Copyright © HW 2020 | Crafted by <a href="http://harrisandward.com/" target="blank" rel="noopener noreferrer"><span style="color: white;"><u>Harris &amp; Ward</u></span></a>&nbsp;|<a href="/accessibility" target="blank" rel="noopener noreferrer"><span style="color: white;"><u>Accessibility</u></span></a></p>
                    <p><a href="/terms" target="blank" rel="noopener noreferrer"><span style="color: white;"><u>Terms &amp; Conditions</u></span></a>&nbsp;|<a href="/privacy"  rel="noopener noreferrer"><span style="color: white;"><u>Privacy Policy</u></span></a></p></div>
			    </div> <!-- .et_pb_text -->
		    </div> <!-- .et_pb_column -->
				
				
	</div> <!-- .et_pb_row -->
				
				
</div>