<header id="main-header" data-height-onload="116" data-height-loaded="true" data-fixed-height-onload="0" style="top: 34px;" class="">
			<div class="container clearfix et_menu_container" >
							<div class="logo_container">
					<span class="logo_helper"></span>
					<a href="/" >
						<img src="wp-content/uploads/2019/03/American-Farm-Investors-Logo.png" alt="American Farm Investors" id="logo" data-height-percentage="90" data-actual-width="750" data-actual-height="382">
					</a>
				</div>
							<div id="et-top-navigation" data-height="101" data-fixed-height="66" style="padding-left: 235px;">
										<nav id="top-menu-nav">
<ul id="top-menu" class="nav">
	<li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-38 current_page_item menu-item-87"><a href="/" aria-current="page">Home</a></li>
	<li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="/team">Our Team</a></li>
	<li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245"><a href="/property">Properties</a></li>
	<li id="menu-item-1168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1168"><a href="/howto">How To Invest</a></li>
	<li id="menu-item-1203" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1203"><a href="/invest">Why Farms</a></li>
	<li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a href="/blog">Blog</a></li>
	<li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a href="/faq">FAQS</a></li>
	<li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a href="contact">Contact</a></li>
</ul>						
</nav>
					
					
					
					
					<div id="et_mobile_nav_menu">
				<div class="mobile_nav closed">
					<span class="select_page">Select Page</span>
					<span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
				<ul id="mobile_menu" class="et_mobile_menu" style="display: none;"><li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-38 current_page_item menu-item-87 et_first_mobile_item"><a href="index.html" aria-current="page">Home</a></li>
<li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="our-team/index.html">Our Team</a></li>
<li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245"><a href="why-invest/index.html">Why Invest?</a></li>
<li id="menu-item-1168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1168"><a href="how-to-invest/index.html">How To Invest</a></li>
<li id="menu-item-1203" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1203"><a href="properties/index.html">Properties</a></li>
<li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a href="contact/index.html">Contact</a></li>
</ul></div>
			</div>				</div> <!-- #et-top-navigation -->
			</div> <!-- .container -->
			<div class="et_search_outer">
				<div class="container et_search_form_container">
					<form role="search" method="get" class="et-search-form" action="https://americanfarminvestors.com/">
					<input type="search" class="et-search-field" placeholder="Search …" value="" name="s" title="Search for:">					</form>
					<span class="et_close_search_field"></span>
				</div>
			</div>
		</header>