<div id="top-header" class="">
	<div class="container clearfix">		
		<div id="et-info">
			<span id="et-info-phone"><a href="tel:+16084663720">+1(608)-466-3720</a></span>				
			<a href="mailto:brian@americanfarminvestors.com"><span id="et-info-email">info@americanfarminvestr.com</span></a>		
		</div> <!-- #et-info -->
		<div id="et-secondary-menu">
		</div> <!-- #et-secondary-menu -->
	</div> <!-- .container -->
</div>