<div id="top-header" class="">
	<div class="container clearfix">		
		<div id="et-info">
			<span id="et-info-phone"><a href="tel:8599403517">859-940-3517</a></span>				
			<a href="mailto:brian@americanfarminvestors.com"><span id="et-info-email">brian@americanfarminvestors.com</span></a>		
		</div> <!-- #et-info -->
		<div id="et-secondary-menu">
		</div> <!-- #et-secondary-menu -->
	</div> <!-- .container -->
</div>